{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block extrahead %}

    {% endblock %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %} Document {% endblock %}</title>
</head>

<body>
    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
          <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href=" {% url 'create' %} ">Create User</a>
                  <a class="dropdown-item" href="{% url 'create_file' %}">Uploat Files</a>
                  <a class="dropdown-item" href="{% url 'filter' %}">List and Import Files</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Emails
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href=" {% url 'contacto' %} ">Correo Simple</a>
                  <a class="dropdown-item" href="{% url 'adjuntarmail' %}">Correo Adjunto</a>
                  <a class="dropdown-item" href="{% url 'multiplemail' %}">Correo Multiple</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    {% endblock %}


    {% block content %}
        <p>Welcome Apps Import Excel</p>
    {% endblock %}


    {% block footer %}
        <footer class="page-footer text-center font-small wow fadeIn fixed-bottom">

            <!--Copyright-->
            <div class="footer-copyright py-3 bg-dark">
                © 2019 Copyright:
                <a href="https://LSV-TECH.COM" target="_blank"> LSV-TECH </a>
            </div>
            <!--/.Copyright-->

        </footer>
    {% endblock %}

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrajs %}

    {% endblock %}

</body>
</html>