{% extends "base/base.html" %}

{% block title %}HomePage{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="container">
                <br>
                <div class="container text-center">
                    <h2>Envio de Correos Adjunto</h2>
                </div>
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>{{ form.nombre.label }}</p>
                        {{ form.nombre }}
                        {{ form.nombre.errors }}
                    </div>

                    <div class="form-group">
                        <p>{{ form.mail.label }}</p>
                        {{ form.mail }}
                        {{ form.mail.errors }}
                    </div>

                    <div class="form-group">
                        <p>{{ form.archivo.label }}</p>
                        {{ form.archivo }}
                        {{ form.archivo.errors }}
                    </div>

                    <div class="form-group">
                        <p>{{ form.mensaje.label }}</p>
                        {{ form.mensaje }}
                        {{ form.mensaje.errors }}
                    </div>
                    <input type="submit" value="Submit" class="btn btn-success">
                </form>
            </div>
        </div>
    </div><br><br><br>

{% endblock %}