{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">

        <div class="container col-md-8 offset-md-2">
            <br>
            <div class="container">
                <h2>Create User</h2>
            </div>
            <br>
            <form method="post">
                <div class="container col-md-12">
                {% csrf_token %}
                {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <br><br><br>
{% endblock %}