{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row"></div>
    <div class="container col-md-8 offset-md-2">
        <br>
        <div class="container">
            <h2>Create File</h2>
        </div>
        <br>
        <form method="post">
            <div class="container col-md-12">
                {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
    <br><br><br>
{% endblock %}