{% extends "base/base.html" %}

{% block title %}HomePage{% endblock %}

{% block content %}

    <h1 align="center">Envio de Correos Con Djangosss</h1><br>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post">
                {% csrf_token %}
                <div class="container">
                    <form method="post">
                        {{ form.as_p }}
                        <input type="submit" value="Submit" class="btn btn-success">
                    </form>
                </div>
            </form>
        </div>
    </div>
{% endblock %}