{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %} List Export {% endblock %}

{% block extrajs %}
    <script src="{% static 'js/export.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <div class="container ">
        <div class="container form-group">
            <form id="filtros" method="GET" class="row">
                <div class="col-md-6 ">
                    <label for="customers">Customers</label>
                    <select class="form-control" name="cus">
                        <option></option>
                        {% if customer %}
                            {% for obj in customer %}
                                <option>{{ obj}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>

                <div class="col-sm-6">
                    <label for="option">Filter</label>
                    <select class="form-control" name="opt" id="opt">
                        <option></option>
                        <option>byEmail</option>
                        <option>uploadByUser</option>
                    </select>
                </div>

                <div class="col-sm-6">
                    <label for="date-start">Start Date</label>
                    <input type="date" class="form-control" placeholder="Date Start" name="dateS">
                </div>

                <div class="col-sm-6">
                    <label for="customers">Finish Date</label>
                    <input type="date" class="form-control" placeholder="Date Finish" name="dateF">
                </div>

                <div class="col-sm-6">
                    <label for="option">Sended</label>
                    <select class="form-control" name="sen" id="sen">
                        <option></option>
                        <option>True</option>
                        <option>False</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <br>
                    <input id="exportar" class="btn btn-primary btn-lg" type="submit" value="Filter">
                </div>
            </form>
        </div>
    </div>
    <br>

    <div class="container">
        <table class="table">
            <form class="form-group row">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">User</th>
                  <th scope="col">File</th>
                  <th scope="col">Type Created</th>
                  <th scope="col">Sended</th>
                  <th scope="col">Date</th>
                    <!--Pasamos el search que contiene la consulta-->
                  <th><a href="{% url 'reportexcel' %}{{ search }}" class="btn btn-outline-success" id="export_file">Export</a></th>
                </tr>
              </thead>
            </form>
          <tbody>
            {% if object_list %}
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.customerId }}</td>
                        <td>{{ object.file }}</td>
                        <td>{{ object.option }}</td>
                        <td>{{ object.sended }}</td>
                        <td>{{ object.emailDate }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <h2>Don't there is date in your Data Base</h2>
            {% endif %}
          </tbody>
        </table>
    </div>
{% endblock %}