{% extends "base/base.html" %}

{% block title %}HomePage{% endblock %}

{% block content %}
    <div class="row ">
        <div class="col-md-8 offset-md-2">
            <form method="post">
                {% csrf_token %}
                <div class="container col-md-12">
                    <!--form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Send" class="btn btn-success">
                    </form-->
                    <br>
                    <div class="container text-center">
                        <h2>Envio de Correos Simple</h2>
                    </div>
                    <br>
                    <form method="post">
                        <div class="form-group">
                            <p>{{ form.nombre.label }}</p>
                            {{ form.nombre }}
                            {{ form.nombre.errors }}
                        </div>

                        <div class="form-group">
                            <p>{{ form.mail.label }}</p>
                            {{ form.mail }}
                            {{ form.mail.errors }}
                        </div>

                        <div class="form-group">
                            <p>{{ form.mensaje.label }}</p>
                            {{ form.mensaje }}
                            {{ form.mensaje.errors }}
                        </div>

                        <input type="submit" value="Send" class="btn btn-success">
                    </form>
                </div>
            </form>
        </div>
    </div><br><br><br>

{% endblock %}